body{
    background-color: #000;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input{
    border: none;
    padding:10px;
    font-size: 16px;
}

button{
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    width: 90px;
    font-size: 1rem;
}

button:active{
    background-color: black;
    color: white;
}



