*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



h3{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.4rem;
}

.text-area-wrapper{
    position: relative;
    display: inline-block;
    width: 400px;
}

textarea{
    
    height: 150px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 8px;
    resize: none;
    width: 100%;
    padding-bottom: 25px;
    /* outline: none; */
    font-size: 16px;

    
}

#word-counter{
    position: absolute;
    right: 12px;
    bottom: 8px;

}