*{
    background-color: black;
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    height: 50wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    /* padding-top: 100px; */
    /* background-color: bisque; */
    /* border: 1px solid white; */
    
    

}
.calculator{
    
    width: 50vw;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;

}

.calculator button{
    background-color: #222;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 10px;

}


.calculator button:hover{
    background-color: whitesmoke;
    color: black;
    transition: 0.3s;
    font-weight: bold;
}

.output{
    /* background-color: white; */
    color: black;
    width: 50vw;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.output span{
    font-size: 2rem;
    font-weight: bold;
}
