*{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    
}

body{
    /* background: linear-gradient(90deg, rgb(73, 245, 219), rgb(113, 60, 230)); */
    height: 100vh;
    background: linear-gradient(45deg, rgb(206, 203, 212), white, white);
}

header{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    font-size: 2rem;
    font-weight: bold;
}

main{
    margin-top: 100px;
    margin: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(73, 245, 219), rgb(113, 60, 230));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-container{
    display: flex;
    gap: 10px;
}

.input-container select{
    min-width: 50px;
}