*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

h1{
    text-align: center;
    margin: 20px 0;
}

#search-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

#search-input{
    width: 50%;
    max-width: 600px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

#search-button{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 0;
    transition: 0.3s ease;
}

#search-button:hover{
    background-color: white;
    color: black;
}

.search-results{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 0 20px;
}




.search-result{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    gap: 10px;
    margin-bottom: 60px;
    overflow: hidden;
    border: 0.2px solid black;
    border-radius: 5px;
    
}

.search-result img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.search-result a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

.search-result:hover img{
    opacity: 0.8;
}


#show-more-btn{
    display: block;
    background-color: black;
    color: white;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin: 30px auto;
    transition: 0.3s ease;
    display: none;
}

#show-more-btn:hover{
    background-color: white;
    color: #000;
}


@media screen and (max-width: 768px) {
    .search-result{
        width: 45%;
    }
    
}

@media screen and (max-width: 480px) {
    .search-result{
        width: 100%;
    }
    
}