body{
    margin: 0;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #87CEEB, #98FB98);
}

#gameContainer{
    text-align: center;
}

canvas{
    border: 3px solid #333;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgb(0,0,0,0.3);
    background: linear-gradient(to bottom, #87CEEB, #98FB98)
}

#score{
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
}

#instrucions{
    font-size: 16px;
    margin-top: 10px;
    
}

.game-over{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: none;
}

#leaderboard{
    position: fixed;
    top: 5px;
    right: 5px;
    border: 1px solid #333;
    background-color: aliceblue;
    padding: 0 5px;
    
}

#playerName{
    border: none;
    padding: 5px 5px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#saveScore{
    border: none;
    background-color: #fff;
    font: #333;
    padding: 3px 3px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}