body{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;

}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 10px;
}

.timers{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: pink;
    width: 100%;
    max-width: 250px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 pink
}


.clock{
    
    gap: 5px;
    font-size: 50px;
    /* background-color: aqua; */
    padding: 10px;
    
}

.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    gap: 5px;
}


button{
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}
