*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter';
}

.heading{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.heading h1{
    font-size: 2.2rem;
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}


.navbar-element a{
    color: white;
}

.navbar-element:hover, .mobile-menu-element:hover{
    transition: 0.3s;
    scale: 1.1;
    border-bottom: 1px solid white;
}

#menu-icon{
    display:none;
}


.mobile-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.mobile-menu a{
    color: white;
}