*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter';
}

.heading{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.heading h1{
    font-size: 2.2rem;
    font-weight: 600;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}


.navbar-element a{
    color: white;
}

.navbar-element:hover{
    transition: 0.3s;
    scale: 1.1;
    border-bottom: 1px solid white;
}

#menu-icon{
    display:none;
    cursor: pointer;
    position: relative;
    z-index: 100;
}


.mobile-menu{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
    background-color: black;
    padding: 10px 40px;
    position: absolute;
    top: 40px;
    right: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding-top:15px;
}

.mobile-menu.active {
    opacity: 1;
    transform: translateY(0);
}

.mobile-menu a{
    color: white;
}

.mobile-menu-element {
    transition: transform 0.3s ease;
}

.mobile-menu-element:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    #menu-icon{
        display: block;
    }
    .navbar-element{
        display: none;
    }
    
}

