@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #0f0e31;
    --text-color: #f5f5f5;
    --hover-color: aqua;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 10%;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

span{
    color: var(--hover-color);
}

.navlist{
    display: flex;
}

.navlist a{
    padding: 10px 10px;
    color: var(--text-color);
    font-weight: 600;
}

.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(6, 124, 124, 0.6),
    0 0 20px rgba(6, 124, 124, 0.6),
    0 0 30px rgba(6, 124, 124, 0.6),
    0 0 40px rgba(6, 124, 124, 0.6),
    0 0 70px rgba(6, 124, 124, 0.6),
    0 0 80px rgba(6, 124, 124, 0.6),
    0 0 100px rgba(6, 124, 124, 0.6),
    0 0 150px rgba(6, 124, 124, 0.6);
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 1;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

.carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border: 2px solid var(--text-color);
    /* max-width: 800px; */

    position: relative;
    overflow: hidden;
    border-radius: 5px;
    
}

.carousel-inner{
    display: flex;
}
